@import './global.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  margin-bottom: 100px;
  width: 80%;
  max-width: 600px;
}
.title {
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  padding-bottom: 10px;
  margin-bottom: 5%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.questTitle input {
  width: 70vw;
  height: 5vh;
  text-align: center;
}

.location input {
  width: 70vw;
  height: 5vh;
  text-align: center;
  border-radius: 5px;
  line-height: 1.5em;
  border: 1px solid darkgray;
}

.assignment {
  width: 70vw;
  height: 5vh;
  text-align: center;
  border-radius: 5px;
  line-height: 1.5em;
  border: 1px solid darkgray;
}

.value {
  width: 70vw;
  height: 5vh;
  text-align: center;
  
}

.reward textarea {
  text-align: center;
  width: 70vw;
  resize: none;
  margin: 5px;
  margin-top: 40px;
  height: 60px;
  padding: 6px;
  border-radius: 5px;
  line-height: 1.5em;
  border: 1px solid darkgray;
}

.questDetails textarea {
  text-align: center;
  width: 70vw;
  resize: none;
  border-radius: 5px;
  height: 120px;
  padding: 6px;

  line-height: 1.5em;
  border: 1px solid darkgray;
}

.add {
  background-color: $primary-color;
  border: none;
  width: 50%;
  height: 5vh;
  text-align: center;
  color: white;
  &:active {
    background-color: $secondary-color;
  }
  &:focus {
    outline: 0;
    background-color: $secondary-color;
  }
}

@media screen and (min-width: 600px) {
  .title {
    margin-bottom: 2%;
  }

  .questDetails textarea {
    width: 70vw;
    height: 10vh;
    text-align: center;
  }
}
